html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --cova-group-setup-height: 40vh;
    --cova-training-sets-height: 50vh;
    --cova-panel-heading-size: 20px;
    --cova-panel-heading-weight: 700;
    --cova-panel-heading-padding: 1em 1.25em;
    --cova-radius-large: 0.75rem;
    --cova-panel-radius: var(--cova-radius-large);
    --cova-border-weak: hsl(221, 14%, 93%);
    --cova-panel-item-border: 1px solid var(--cova-border-weak);
    --cova-shadow: rgba(9, 10, 12, 0.1) 0px 8px 16px -2px,
        rgba(9, 10, 12, 0.02) 0px 0px 0px 1px;
    --cova-panel-shadow: var(--cova-shadow);
    --cova-panel-width: 320px;
    --cova-project-parts-width: 320px;
    --cova-word-table-title-vertical-padding: 2px;
    --cova-word-table-title-horizontal-padding: 8px;
    --cova-word-table-title-font-size: 0.7rem;
    --cova-word-table-toolbar-height: 1.5rem;
    --cova-main-toolbar-vertical-padding: 8px;
}

#app {
    width: calc(100vw - 1rem);
    height: calc(100vh - 1rem);
    display: flex;
    flex-flow: column nowrap;
    border: 0.5rem solid transparent;

    .group-setup {
        display: flex;
        flex-flow: row nowrap;
        height: var(--cova-group-setup-height);

        .dictionary-setup {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            .group-selector {
                width: 25%;
                max-width: 250px;
            }
        }
    }

    .main {
        height: 100%;

        .main-toolbar {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding: var(--cova-main-toolbar-vertical-padding) 0;

            .tree-toolbar {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
        }
    }

}

.panel {
    box-shadow: var(--cova-panel-shadow);
    width: var(--cova-panel-width);
    .panel-heading {
        background-color: rgb(64, 70, 84);
        box-sizing: border-box;
        color: white;
        font-size: var(--cova-panel-heading-size);
        font-weight: var(--cova-panel-heading-weight);
        margin: 0;
        padding: var(--cova-panel-heading-padding);
        border-radius: var(--cova-panel-radius) var(--cova-panel-radius) 0 0;
    }
    .panel-block {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding: 0.75em 1em;
    }
    .panel-block:not(:last-child) {
        border-bottom: var(--cova-panel-item-border);
    }
    .panel-block:last-child {
        border-end-end-radius: var(--cova-panel-radius);
        border-end-start-radius: var(--cova-panel-radius);
    }
}

.vertical-content {
    display: flex;
    flex-flow: column nowrap;
}

.input-panel {
    #inputset-name,
    #inputset-data {
        width: 100%;
        .error {
            background-color: red;
        }
    }
    .input-contents {
        min-height: 0.5rem;
    }
}

.button.is-outlined {
    background-color: transparent;
}

word-table {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    /* height: 33vh; */

}
.word-table-container {
    /* height: calc(var(--cova-group-setup-height)); */
    width: 35%;

    .word-table-toolbar {
        height: var(--cova-word-table-toolbar-height);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .scrollable {
        overflow-y: scroll;
        border-radius: var(--cova-panel-radius);
        height: calc(var(--cova-group-setup-height) - var(--cova-word-table-toolbar-height));
    
        table.word-table {
            width: 100%;
        
            thead th {
                position: sticky;
                top: 0;
                background: #f0f0f0;
                border-bottom: 2px solid #ddd;
                text-align: left;
                padding: var(--cova-word-table-title-vertical-padding) var(--cova-word-table-title-horizontal-padding);
                font-size: var(--cova-word-table-title-font-size);
            }
            tbody td {
                border-bottom: 1px solid #eee;
                padding: 8px;
            }
        }
    }

}

.related-text {
    h4 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    ul {
        height: calc(var(--cova-group-setup-height) - 18px - 0.5rem);
        margin: 0;
        overflow-y: scroll;
    }
}

.training-sets-container {
    display: flex;
    flex-flow: row nowrap;
    /* background-color: lightslategray; */
    height: calc(100vh - var(--cova-group-setup-height) - 36px - 1rem);

    .scrollable {
        overflow-y: scroll;
        border-radius: var(--cova-panel-radius);
        flex-grow: 1;

        table {
            width: 100%;

            thead th {
                position: sticky;
                top: 0;
                border-bottom: 2px solid #ddd;
                text-align: left;
                background-color: rgb(171,171,191);
                color: white

            }
            .training-sets-id-column {
                width: 5%;
            }
            .training-sets-name-column {
                width:40%;
            }
            /* .training-sets-path-column {
                width: 45%;
            } */
            .training-sets-size-column {
                width:5%;
            }
            tbody {
                tr.selected {
                    background-color: rgba(255,235,59,0.3);
                    box-shadow: inset 4px 0 0 #ffeb;
                    transition: background-color 0.3s ease-in-out;
                }
                td {
                    border-bottom: 1px solid #eee;
                    padding: 4px 8px;

                    input.training-set-query {
                        width: 100%;
                        /* border: none; */
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        /* font-size: inherit;
                        color: inherit; */
                        height: 24px;
                    }

                    .path-view {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        .token {
                            border-right: 1px solid var(--cova-border-weak);
                            padding: 0 8px;

                            .alias {
                                display: flex;
                                flex-flow: column nowrap;
                            }
                        }
                    }
                }

            }
        }
    }

    .related-text {
        width: 60%;
        margin-top: 0;
        margin-bottom: 0.5rem;
        border-left: 1rem solid transparent;
        overflow-y: scroll;

        /* ul {
            background-color: antiquewhite;
            height: calc(100vh - var(--cova-group-setup-height) - 36px - 18px - 8px - 1rem);
        } */
        table thead th {
            position: sticky;
            top: 0;
            border-bottom: 2px solid #ddd;
            text-align: left;
            background-color: #d0d0d0;
            color: white

        }
    }
}

